@import url(https://weloveiconfonts.com/api/?family=fontawesome);
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr auto;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  word-break: break-all;
  outline: 0px;
}
@media screen and (max-width: 850px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}
h2, h3 {
  margin: 0;
  padding: 5px 0;
}

input {
  outline: 0px;
}
button {
  cursor: pointer;
  outline: 0px;
}
button[type="submit"] {
  border: 0px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  outline: 0px;
  font-size: 16px;
}

.input-container {
  width: 100%;
  max-width: 600px;

  padding: 30px;
  border-radius: 20px;
 box-sizing: border-box;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


img {
  width: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.together {
  display: flex;
  flex-wrap: wrap;
}

textarea,
input {
  height: 200px;
  outline: 0px;
  border-radius: 10px;
  font-family:'roboto';
  font-size: 16px;
}




embed {
  height: 100%;
  width: 100%;
}

nav ul li:hover {

    border-radius: 5px;
    transition: .2s;

}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-message {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 2;
  padding: 5px;

  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.error-message::before {
  content: "!";

  background: white;
  width: 25px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  line-height: 0;
  font-weight: 500;
  position: relative;
  margin-right: 10px;
}


.button-mode label {
  background: none;
}

 .expand {
  cursor: pointer;
  transition: .5s;
  height: 25px;
  width: 25px;
  background: white;
  padding: 5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
 .expand img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0);
}
.expand:hover img {
  filter: brightness(10)
}
.expand:hover {
  cursor: pointer;
  transition: .5s;
  height: 25px;
  width: 25px;
  background: #0085ff;
}

/* font awesome icon stuff */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}