.App {
    color: white;
    background: #363a52;
  }
  .workspace-items button {
      background: rgba(255, 255, 255, 0.2);
      border: 0px;
      color: white;
  }
  nav {
    background: rgba(0, 0, 0, 0.2);
  }
  input, textarea {
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border: 1px solid #c5c7d0;
  }
  button[type=submit] {
    background: #0085FF;
    color: white;
  }
  .input-link input {
    border: 1px solid #676879;
  }

  textarea:hover,
  input:hover {
    border: 1px solid #fff;
  }
  
  textarea:focus,
  input:focus {
    border: 1px solid #0085ff;
  }

  .container {
    background: #1c1f3b;
    box-sizing: border-box;
  }
.title-container {
  background: rgba(0, 0, 0, 0.1);
}
.draw-side-options span {
  border: 1px solid #1e1e1e;
}
.draw-side-options span.active {
  box-shadow: 2px 2px 10px #1e1e1e;
  border: 2px solid #1e1e1e;
}


  .button-active {
    background: rgba(0, 0, 0, 0.2);
    color: #0085FF
  }
  img {
    width: 100%
  }
  
  .button-blue {
    background: #0085FF;
  }
  a {
    color: #0085FF
  }
  



  video.inactive {
    border: 1px solid #ccc;
  }

  
  .App-header {
    background-color: #282c34;
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .input-container {

    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.17);
}
  
  .error-message {
    background: #E44258;
    color: white;
  }
  .error-message::before {
    content: "!";
    color: #E44258;
    background: white;
  }
    
.draw-side-options button {
  background: #0085FF;
}

  
  /* loading   */
  

  .lds-ellipsis div {
 
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .how-big-container {
    background: rgba(0, 0, 0, 0.6)
  }



  .button-mode label {
    color: #0085ff;
    border-bottom: 2px solid #323338 !important;
    color: #676879;
  }

  
  .button-mode label.active {
    border-bottom: 2px solid #0085ff !important;
    color: #0085ff;
    background: none;
  }

  .drag-drop-zone {
    background: rgba(0, 0, 0, 0.2);
  }

  .drag-drop-zone.active {
    background: black;
  }

  .video-container {
    background: rgba(255, 255, 255, 0.05);
  }

  .button-mode-real label.active {
    background: #DFF0FF;
  }

  .button-mode-real label:hover {
    background: #E6E9EF;
    transition: .2s;
  }